.top_style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.card_container_common {
  width: 100%;
  background-color: #f6f6fb;
  border-radius: 20px;
  height: fit-content;
  padding: 12px 24px 0px 24px;
  margin-right: 16px;
  cursor: pointer;
}
.card_container {
  background: linear-gradient(
    149deg,
    rgba(225, 124, 253, 1) 15%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card_container_hover:hover {
  background: linear-gradient(
    149deg,
    rgba(225, 124, 253, 1) 15%,
    rgba(229, 235, 236, 1) 100%
  );
}
.svgComputer {
  background-color: #8f929440;
  border-radius: 12px;
  padding: 12px;
}
.text_style_one {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.text_style_two {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
.text_style_three {
  font-size: 18px;
  color: #fff;
}
.padding8 {
  padding-top: 4px;
}
.font_color_Black {
  color: #000 !important;
}
.font_color_gray{
  color: #a29c9c;
}
