.project_container {
  display: flex;
  align-items: center;
}
.title_style {
  font-size: 28px;
  font-weight: bold;
  margin-right: 16px;
}
.status {
  padding: 16px;
  background-color: #7166f9;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}
.font_color_Black {
  color: #000;
  background-color: #f6f6fb !important;
}
.statusHover:hover {
  background-color: #7166f9 !important;
  opacity: 0.5;
}
.list_container {
  display: flex;
  padding: 24px 20px;
  align-items: center;
  justify-content: space-between;
}
.status_container {
  display: flex;
}
.total_visit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px 12px;
}
.chartContainer {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding-right: 16px;
}
.total_text {
  font-size: 18px;
  font-weight: bold;
}
.total_value {
  font-size: 24px;
  color: #7166f9;
  font-weight: bold;
}
.total_value:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}
.svgHelp {
  box-shadow: 0px 0px 0px 6px rgb(0 0 0 / 12%);
  border-radius: 100%;
  background-color: lightgray;
  cursor: pointer;
}
.svgHelp:hover {
  transition: all 0.5s;
  transform: translateY(-10px);
}
.card_top {
  padding-top: 16px;
  display: flex;
}
.status_map_style {
  margin-left: 12px;
}
.status_map_style:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}
.bottom_container {
  padding-right: 4px;
  padding-left: 20px;
}
.card_container {
  margin-left: 24px;
  width: 100%;
  overflow: scroll;
}
