.nav_div {
  background-color: #f6f6fb;
  /* width: 250px; */
  /* width: 20vmin; */
}
.svgSearchStyle {
  background-image: linear-gradient(#e17cfd, #4cd7f6);
  min-height: 40px;
  min-width: 40px;
  border-radius: 100%;
}

.search_container {
  display: flex;
  align-items: center;
  margin: 24px 4px 24px 24px;
}

.svgStyle {
  position: relative;
  top: 8px;
  left: 8px;
}
.concured_text {
  font-size: 20px;
  color: black;
  font-weight: 700;
  padding-left: 16px;
}

.input_style_container {
  position: relative;
  margin: 24px 4px 24px 24px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.input_svg {
  position: absolute;
  right: 24px;
  top: 8px;
  cursor: pointer;
}

.inputContainer {
  /* width: 100%; */
  padding: 11px;
  margin: 0px;
  box-sizing: border-box;
}
.svg_back {
  margin-right: 8px;
  cursor: pointer;
}
