.nav_div {
  background-color: #f6f6fb;
  width: 250px;
}
.svgSearchStyle {
  background-image: linear-gradient(#e17cfd, #4cd7f6);
  min-height: 40px;
  min-width: 40px;
  border-radius: 100%;
  cursor: pointer;
}
.svgSearchStyle:hover {
  transition: all 1s;
  box-shadow: 0 0 8px 12px #2f2f2f;
}

.search_container {
  display: flex;
  align-items: center;
  margin: 24px 4px 24px 0px;
  padding-left: 24px;
  border-radius: 4px;
}

.svgStyle {
  position: relative;
  top: 8px;
  left: 8px;
}
.concured_text {
  font-size: 20px;
  color: black;
  font-weight: 700;
  padding-left: 16px;
}

.input_style_container {
  position: relative;
  margin: 24px 0px 24px 0px;
  display: flex;
  align-items: center;
}

.input_svg {
  position: absolute;
  right: 24px;
  top: 8px;
  cursor: pointer;
}

.inputContainer {
  padding: 11px;
  margin: 0px;
  box-sizing: border-box;
}
.inputContainer:hover {
  background-color: #e5f1fd;
  border-color: #7166f9;
  border-radius: 4px;
}
.svg_back {
  margin-right: 8px;
  cursor: pointer;
}
.svg_back:hover {
  transition: all 1s;
  transform: scale(0.5);
}
