.map_list_container {
  padding: 16px 24px;
  align-items: center;
  display: flex;
}
.map_list_container_active {
  background-color: #f3f0fc;
  border-right: 4px solid #7166f9;
}
.map_list_container:hover {
  background-color: #aeacb5;
  border-right: 4px solid #7166f9;
  cursor: pointer;
}
.map_list_container:active {
  background-color: #7166f9;
  border-right: 4px solid #7166f9;
  cursor: pointer;
}
.icon_style {
  width: 44px;
}
.bottom_list {
  position: absolute;
  bottom: 0;
  /* width: 214px; */
}
