.input_style {
  border: none;
  background-color: #f6f6fb;
  padding: 6px;
  border-radius: 8px;
  width: 230px;
  margin-bottom: 16px;
  height: 30px;
}
.input_style::placeholder {
  text-align: center;
}
.input_style:hover {
  background-color: #e5f1fd;
}

.title {
  font-size: 18px;
  font-weight: bold;
  padding: 16px 0px 16px 0px;
  border-bottom: 2px solid #f6f6fb;
  margin: 0 16px;
}
.box {
  height: 10px;
  width: 20px;
  border-radius: 4px;
}
.unit {
  padding: 0px 16px 0px 6px;
  font-size: 14px;
}
.unit_name {
  font-size: 14px;
  width: 100%;
}
.value {
  position: relative;
  text-align: end;
  width: 75%;
  font-size: 14px;
}
.overAll {
  border: 2px solid #f6f6fb;
  justify-content: space-between;
  border-radius: 20px;
  width: 100%;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
}
.chart_list {
  padding: 12px 10px 0px 4px;
}
.doughut_style {
  width: 180px;
  height: 180px;
  padding-left: 16px;
  position: relative;
}
.pieTotal {
  top: 44%;
  left: 79px;
  position: absolute;
  font-size: 28px;
  font-weight: 800;
  color: #4cd7f6;
}
.pieTotal:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}
